@import url("SystemTheme.css");

@font-face {
    font-family: "Outfit Var";
    src: url(Fonts/Outfit/Outfit-VariableFont.woff2) format("woff2-variations");
    font-weight: 100 1000;
    font-style: normal;
}

@font-face {
    font-family: "Martian Mono Var";
    src: url(Fonts/MartianMono/MartianMono-VariableFont.woff2) format("woff2-variations");
    font-weight: 100 1000;
    font-style: normal;
}

:root {
    font-family: "Outfit Var", sans-serif;

    --code-font:
        "Martian Mono Var", "JetBrains Mono", "Cascadia Code", monospace;
    --sans-serif-font: "Outfit Var", sans-serif;
}

body {
    background-color: var(--bg-color);
}

.background {

    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);

    width: 100svw;
    height: 100svh;
}

.blog-background {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    width: 100%;
}

.footer {

    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;

    justify-content: center;
    line-height: 1.75;

    width: 100%;
    height: 7rem;
    color: var(--secondary-color);

    border-top: 1px solid var(--outline-color);

    & div {
        margin-left: 1.5rem;
    }

    & * {
        width: auto;
    }

    & p {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        & img {
            aspect-ratio: 1/1;
            width: 20px;
            image-rendering: pixelated;
        }
    }
}

.generic-link {
    color: var(--secondary-color);

    &:hover {
        color: var(--main-color);
    }
}

.article-stuff {
    text-align: center;
}

.article-title {
    font-weight: 900;
    font-size: 4rem;
    color: var(--main-color);
}

.article-date {
    font-size: 1.15rem;
    color: var(--secondary-color);
}

.article-background {
    display: flex;
    flex: 1;
    padding-top: 2rem;
    background-color: var(--bg-color);
    justify-content: center;
}

.post-card-title {
    font-weight: 200;
    color: var(--secondary-color);
    font-size: 3.25rem;
}

.post-card-title a {
    color: var(--secondary-color);
    transition: color, font-weight 0.2s;
}

.post-card-title a:hover {
    color: var(--main-color);
    font-weight: 700;
}

.blankspace {
    margin-bottom: 1rem;
}

.post-card-wrapper {
    padding-left: 3rem;
}

.post-card-date {
    font-size: 1.20rem;
    color: var(--secondary-color);
}

.post-card-snippet {
    font-size: 1.30rem;
    color: var(--secondary-color);
    padding-bottom: 2rem;
    max-width: 32rem;
}

.markdown-body {
    background-color: var(--bg-color) !important;
    font-family: var(--sans-serif-font) !important;
    padding-bottom: 5rem;

    & p {
        font-size: 1.25rem !important;
    }

    & h1 {
        border-bottom: 1px solid var(--outline-color) !important;
        font-size: 3rem !important;
        font-weight: 200 !important;
    }

    & h2 {
        border-bottom: 1px solid var(--outline-color) !important;
        font-size: 2.5rem;
        font-weight: 300 !important;
    }

    & h3,
    h4,
    h5,
    h6 {
        border-bottom: 1px solid var(--secondary-color) !important;
    }

    & p:has(img) {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    & blockquote {
        color: var(--main-color) !important;
        border-left: 0.20rem solid var(--outline-color) !important;
    }
}

.article-text {
    width: 42svw;
    max-width: 56rem;
    color: var(--main-color) !important;
    opacity: 0.70;
}

pre {
    font-family: var(--code-font) !important;
    font-weight: 500 !important;
    line-height: 1.85 !important;
}

.token {
    line-height: 1.85 !important;
}

code {
    font-family: var(--code-font) !important;
    /* font-weight: 200!important; */
    line-height: 1.75 !important;
}

.markdown-body .highlight pre,
.markdown-body pre {
    border-radius: 1.1rem !important;
    box-shadow: 2px 2px 16px #cc227430;

    /* border: #dadada 0.22rem solid; */
    /* outline: #cccccc 0.13rem solid; */

    @media (prefers-color-scheme: dark) {
        box-shadow: 2px 2px 16px #00000096;

        border: #3e3e3e 0.22rem solid;
        outline: #000000 0.13rem solid;

    }
}

.about-thing {
    display: flex;
    flex: 1;
    margin-bottom: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abouter-thing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.text-group {
    line-height: 1.2;
}

.platform-links {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
    list-style-type: none;
}



.discord-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);

    width: 1.5rem;
    height: 1.5rem;
}

.discord-text {
    font-size: 1.2rem;
    color: var(--main-color);
    font-weight: 400;
}

.link-block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);

    height: 4.5rem;
    width: 4.5rem;

    border-radius: 1.65rem;

    background-color: var(--bg-color);

    outline: 1px solid var(--outline-color);

    transition: box-shadow 0.25s;

    &:hover {
        background-color: var(--button-hover-color);
    }
}

.link-logo {
    height: 1.75rem;
    width: 1.75rem;

    & img {
        @media (prefers-color-scheme: dark) {
            filter: invert(95%);
        }
    }

    display: flex;
    justify-content: center;
    align-items: center;
}

.big-text {
    font-size: 4rem;
    font-weight: 900;
    color: var(--main-color);
}

.smol-text {
    font-size: 2rem;
    font-weight: 300;
    color: var(--secondary-color);
}

.subtitle {
    margin-bottom: 1.2rem;
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--secondary-color);
}

.header {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
}

.inner-header {
    margin-left: 4rem;
}

@media screen and (max-width: 600px) {
    .list-of-links {
        flex-direction: column !important;
        gap: 0rem !important;
    }

    .about-thing {
        margin-top: 4rem !important;
        align-items: flex-start;
    }

    .abouter-thing {
        align-items: flex-start;
    }

    .text-group {
        padding-left: 2rem;
    }

    .big-text {
        font-size: 2.25rem;
    }

    .smol-text {
        font-size: 1.45rem;
    }

    .subtitle {
        padding-left: 2rem;
    }

    .link {
        font-size: 2rem !important;
    }

    .link[aria-current="page"] {
        font-size: 3.5rem !important;
    }

    .header {
        padding-top: 4rem;
    }

    .inner-header {
        margin-left: 2rem;
    }

    .platform-links {
        flex-direction: column;
        padding-left: 2rem;
    }

    .article-text {
        width: 90svw;

    }

    .article-date {
        font-size: 1.35rem;
    }

    .article-stuff {
        text-align: left;
        padding-left: 1.5rem;
        padding-top: 3rem;
    }

    .article-title {
        font-size: 3.2rem;
    }

    .blankspace {
        margin-bottom: 3rem;
    }

    .post-card-wrapper {
        padding-left: 2rem;
    }

    .post-card-title {
        font-size: 2.45rem;
    }
}

.list-of-links {
    display: flex;
    align-items: baseline;
    gap: 3rem;
    flex-direction: row;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    color: var(--secondary-color);
    font-size: 3.5rem;
    font-weight: 300;
    transition: color, font-weight 0.15s;

    &:hover {
        color: var(--main-color);
        font-weight: 800;
    }

    &[aria-current="page"] {
        color: var(--main-color);
        font-weight: 900;
        font-size: 4rem;
        text-decoration: none;
    }
}